<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
  </head>
  <body>
    <a href="#maincontent" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="container">
        <div class="nav-content">
          <div tabindex="0" class="brand-name">
            <h1>Hunger Apps</h1>
          </div>
          <button id="drawer-button" class="drawer-button">☰</button>
          <nav id="main-nav" class="main-nav">
            <ul class="nav-list">
              <li><a href="/">Home</a></li>
              <li><a href="#">Favorite</a></li>
              <li><a href="https://github.com/esibutarbutar">About</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    
    <main>
      <section class="jumbotron">
        <div class="container">
          <div class="inner-jumbotron"> 
            <h1 tabindex="0">Welcome to Hunger Apps...</h1>
          </div>
        </div>
      </section>
      <section id="maincontent">
        <h1 class="title">Explore Restaurant</h1>
        <restaurant-card></restaurant-card>
      </section>
    </main>
    <footer>
      <footer-element></footer-element>
    </footer>
  </body>
</html>
